@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Fira Sans", serif;
  background: #f5f5f5;
}
/* ============ navbar area ============ */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1360px;
  height: 85px;
  margin: 0 auto;
  padding: 20px 135px;
}
header nav h2 {
  color: #0e0e0e;
  font-size: 28px;
  font-weight: bold;
}
header nav button {
  color: #006a50;
  font-family: Fira Sans;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid #006a50;
  border-radius: 8px;
  width: 95px;
  height: 45px;
  cursor: pointer;
  transition: 0.5s;
}
header nav button:hover {
  background-color: #006a50;
  color: #f5f5f5;
}
/* ============ banner area ============ */
.banner_area {
  margin: 20px auto 80px;
  width: 1088px;
  /* height: 580px; */
  border-radius: 20px;
  background: #c6e4d6;
    
}
.banner_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 65px 85px;
}

.banner_wrapper .banner_text h2 {
  color: #0e0e0e80;
  font-size: 20px;
  font-weight: 500;
}
.banner_wrapper .banner_text p {
  width: 500px;
  color: #0e0e0e;
  font-size: 47px;
  font-weight: 700;
  margin: 12px 0 20px;
}
.banner_wrapper .banner_text button {
  cursor: pointer;
  border:none;
  color: #ffffff;
  border-radius: 7px;
  background: #006a50;
  font-size: 15px;
  font-weight: 600;
  padding: 15px 30px;
}

